.download-particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 10000;
}

.download-particle-container .particle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00eaff;
    will-change: transform;
}

.download-particle-container .particle-check {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
}

.download-particle-container .particle-check::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 30px;
    border-left: 5px solid #00eaff;
    border-bottom: 5px solid #00eaff;
    transform: rotate(-45deg);
    top: 10px;
    left: 25px;
}
