.download-particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 10000;
}

.download-particle-container .particle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00eaff;
    will-change: transform;
}

.download-particle-container .particle-check {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.download-particle-container .particle-check.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.download-particle-container .particle-check .line1,
.download-particle-container .particle-check .line2 {
    position: absolute;
    background: #00eaff;
    transform-origin: left top;
}

.download-particle-container .particle-check .line1 {
    width: 6px;
    height: 20px;
    top: 25px;
    left: 18px;
    transform: rotate(45deg);
}

.download-particle-container .particle-check .line2 {
    width: 6px;
    height: 35px;
    top: 15px;
    left: 30px;
    transform: rotate(-45deg);
}
